{% extends 'base.html' %}


{% block main %}
  <h1>New Property</h1>
  <form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
      <label for="title">Title:</label>
      {{ form.title(class_="form-control") }}
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      {{ form.description(class_="form-control") }}
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col">
          <label for="num_bedrooms">Number of Bedrooms:</label>
          {{ form.num_bedrooms(class_="form-control") }}
        </div>
        <div class="col">
          <label for="num_bathrooms">Number of Bathrooms:</label>
          {{ form.num_bathrooms(class_="form-control") }}
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col">
          <label for="property_type">Property Type:</label>
          {{ form.property_type(class_="form-control") }}
        </div>
        <div class="col">
          <label for="price">Price:</label>
          {{ form.price(class_="form-control") }}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="location">Location:</label>
      {{ form.location(class_="form-control") }}
    </div>
    <div class="photo-group form-group">
      <label for="photo">Photo:</label>
      {{ form.photo(class_="form-control-file") }}
    </div>
    <button type="submit" class="btn btn-primary">Add Property</button>
  </form>
{% endblock %}